.image{
    border-radius: 8px;
    width:200px;
    justify-items: center;

}
.card{
    box-shadow: 3px;
    background:  rgba(105, 105, 105, 0.486);
    border:none;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:beige;
    border: 10px;

}
.card hr{
    border-top: 3px solid black;
}