body{
	background-image: url("https://images.unsplash.com/photo-1504978167940-1c24eedd0edf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  
}

nav{
	color:beige;
	text-align: center;
	padding: 30px;
	font-family:fantasy;
	font-size: 20px;
	background-color: rgba(105, 105, 105, 0.486);
	font-size: 20px;
	
	
}